div.Aeroponic{
  background-color:  rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
a.Aeroponic-link{
  
}
div.Environment{
  background-color:  rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
a.Environment-link{

}
